.infoIcon {
    height: 250px;
}

.mainInfo_container {
    display: flex;
}

.mainInfo_span {
    color: #ffb902;
}

.mainInfo_container h2 {
    color: #026cb8;
    font-size: 3rem;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}