
.containerRow {
    position: relative;
    top: -95px;
    left: 0;
    right: 0;
    z-index: 1;
    color: #fff;
}

.containerRow h3 {
    font-size: 15px;
    margin: 30px 30px;
}

.containerRow span {
    font-weight: normal;
    line-height: 1.7;

}

.containerCol {
    background: #026cb8;
    height: 230px;
}
.containerColCenter{
    position: relative;
    top: -20px;
}


.containerColCenter {
    background: #ffb902;
}

.col_icon {
    margin-top: 10px;
    width: 70px;
    height: 40px;
}